.sidebar-div {
  background-color: white;
  height: 100vh;
  padding-right: 0 !important;
}

.sidebar-div li {
  margin-bottom: 20px;
  cursor: pointer;
}

.sidebar-div li span {
  /* display: inline-block; */
  /* transform: translate(5px); */
  margin-left: 10px;
}



@media only screen and (max-width: 767.98px) {
  .sidebar-div ul {
    /* background-color: lightblue; */
    display: flex;

    justify-content: space-around;
  }

  .sidebar-div {
    height: 100%;
  }
}
