.admin-serviceList .table td,
.admin-serviceList .table th {
  max-width: 200px;
  /* padding: 20px 40px 20px 40px; */
}

.admin-serviceList .table-head {
  /* background: #d5d9e9; */
  /* border: transparent; */
  /* border-radius: 20px; */
  /* margin: 20px !important; */
}

.admin-serviceList .table {
  /* table-layout: fixed; */
  width: 80%;
  background-color: white;
  border: 1px solid black;
  margin: 40px auto;
  border: transparent;
  border-radius: 20px;
}
