.top-section {
  background-color: #fbd062;
}

.home-page-btn {
  font-family: "Roboto", sans-serif;
  background-color: #111430 !important;
  width: 134px;
  height: 45px;
  border: none !important;
}
