.login-div {
  font-family: "Poppins";
  border: 1px solid black;
  height: 400px;
  margin: 100px auto;
}

.login-div h3 {
  font-weight: 600;
}

.style-third-party  {
  border: 1px solid lightgray;
  margin: 30px auto;
  border-radius: 50px;
  cursor: pointer;
  background-color: whitesmoke;
}

/* Desktop --> when the width gets larger than 768px. */
@media only screen and (min-width: 768px) {
  .login-div {
    min-width: 600px;
  }
}

/* Mobile --> when the width gets larger than 480px. */
@media only screen and (max-width: 480px) {
  .login-div img {
    width: 30px !important;
  }

  .login-div h5 {
    font-size: 1rem;
  }
}
